<header class="flex justify-center items-center py-5 min-w-full xl:w-[1120px] mx-auto fixed top-0 right-0 left-0 z-10 bg-white/85 shadow-xl">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#el-equipo">Quienes Somos</a>
        <a href="#lugares">Lugares</a>
        <a href="#itinerario">Itinerario</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>